@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@localizer["Welcome"]</h1>
    <p> <a href="https://docs.microsoft.com/aspnet/core"> @localizer["Learn More"] </a> </p>
</div>
